<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354031130113-c21qvbo1edhl06iaaukdd0t3k4i55168.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354031130113-c21qvbo1edhl06iaaukdd0t3k4i55168</string>
	<key>API_KEY</key>
	<string>AIzaSyDiWz9RI5UdFUTntSEawnSXG9YHTOpD1eo</string>
	<key>GCM_SENDER_ID</key>
	<string>354031130113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShakFeizi.Meduman-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>medumanswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>medumanswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354031130113:ios:b6dd5983006fad84e51200</string>
</dict>
</plist>